/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
table {
    width: 100%;
    margin-bottom: 18px;
    padding: 0;
    border-collapse: separate;
    *border-collapse: collapse;
    /* IE7, collapse table to remove spacing */

    font-size: 13px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
table th, table td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left;
}
table th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}
table td {
    vertical-align: top;
}
table th + th, table td + td {
    border-left: 1px solid #ddd;
}
table tr + tr td {
    border-top: 1px solid #ddd;
}
table tbody tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}
table tbody tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}
table tbody tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}
table tbody tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}
.zebra-striped tbody tr:nth-child(odd) td {
    background-color: #f9f9f9;
}
.zebra-striped tbody tr:hover td {
    background-color: #f5f5f5;
}
table .header {
    cursor: pointer;
    color: #333333;
    text-shadow: 'none';
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: -o-linear-gradient(top, #f9f9f9, #e5e5e5);
    background-image: linear-gradient(to bottom, #f9f9f9, #e5e5e5);
    background-repeat: repeat-x;
    border-color: #e5e5e5 #e5e5e5 #bebebe;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
}
table .header:hover {
    background-color: #d1d1d1;
    background-image: -moz-linear-gradient(top, #f1f1f1, #d5d5d5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#d5d5d5));
    background-image: -webkit-linear-gradient(top, #f1f1f1, #d5d5d5);
    background-image: -o-linear-gradient(top, #f1f1f1, #d5d5d5);
    background-image: linear-gradient(to bottom, #f1f1f1, #d5d5d5);
    background-repeat: repeat-x;
    border-color: #d5d5d5 #d5d5d5 #b1b1b1;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff1f1f1', endColorstr='#ffd5d5d5', GradientType=0);
}
table .header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000 transparent;
    visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
    visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
    visibility: visible;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
table .headerSortUp:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
table .blue {
    color: #049cdb;
    border-bottom-color: #049cdb;
}
table .headerSortUp.blue, table .headerSortDown.blue {
    background-color: #ade6fe;
}
table .green {
    color: #46a546;
    border-bottom-color: #46a546;
}
table .headerSortUp.green, table .headerSortDown.green {
    background-color: #cdeacd;
}
table .red {
    color: #9d261d;
    border-bottom-color: #9d261d;
}
table .headerSortUp.red, table .headerSortDown.red {
    background-color: #f4c8c5;
}
table .yellow {
    color: #ffc40d;
    border-bottom-color: #ffc40d;
}
table .headerSortUp.yellow, table .headerSortDown.yellow {
    background-color: #fff6d9;
}
table .orange {
    color: #f89406;
    border-bottom-color: #f89406;
}
table .headerSortUp.orange, table .headerSortDown.orange {
    background-color: #fee9cc;
}
table .purple {
    color: #7a43b6;
    border-bottom-color: #7a43b6;
}
table .headerSortUp.purple, table .headerSortDown.purple {
    background-color: #e2d5f0;
}